@import '~node_modules/modern-normalize/modern-normalize.css';

/* Roboto regular */

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.eot');
  src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/fonts/Roboto-Regular.woff') format('woff'),
    url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Roboto italic */

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Italic.eot');
  src: url('/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Italic.woff2') format('woff2'),
    url('/fonts/Roboto-Italic.woff') format('woff'),
    url('/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Roboto bold */

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.eot');
  src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype')
      url('/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/fonts/Roboto-Bold.woff') format('woff'),
    url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: calc(19.5 / 12);
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  position: relative;

  &.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }

  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 15px 0;
  color: inherit;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (max-width: $telephone) {
    width: 100%;
  }
  width: $telephone;
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 32px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.section {
  padding-top: 20px;
  // padding-bottom: 20px;
  background-color: var(--background-color);
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    // padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
  }
}
// a.anchor {
//   color: red;
//   display: block;
//   position: relative;
//   top: -86px;
//   visibility: hidden;
//   @media screen and (min-width: $tablet) {
//     top: -102px;
//   }
//   @media screen and (min-width: $desktop) {
//     top: -111px;
//   }
// }
