.gallery-library {
  min-height: calc(100vh - 216px - 77px - 20px);
  position: relative;

  @media screen and (min-width: $tablet) {
    min-height: calc(100vh - 219px - 79px - 15px);
  }

  @media screen and (max-width: $to-tablet) {
    min-height: calc(100vh - 230px - 100px - 10px);
  }
}

.h2-central {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
  color: var(--text-main-color);
}
