.gallery-library {
    min-height: calc(100vh - 230px - 78.5px);

    @media screen and (min-width: $tablet) {
        min-height: calc(100vh - 230px - 78.5px);
    }

    @media screen and (max-width: $to-tablet) {
        min-height: calc(100vh - 230px - 104.28px);
    }
}