<section class="container">
  <div class="gallery">
    <!-- <a href="#" class="anchor" id="gallery"></a> -->
    <!-- <div class="container"> -->
    <!-- <h1 class="visually-hidden">hidden</h1> -->
    <!-- <div class="film__card">
      <div class="film__img">photo</div>
      <div class="film__info">
        <h3 class="film__name">ONCE UPON A TIME... IN HOLLYWOO</h3>
        <div class="film__details">
          <p class="film__genre">Drama, Comedy</p>
          <p class="film__year">2019</p>
          <p class="film__rating">8.0</p>
        </div>
      </div>
    </div> -->
    <!-- </div> -->
  </div>
</section>
