<header class="header">
  <div class="container header__container">
    <nav class="nav" id="index-header-navigation">
        <a class="logo-ref" href="index.html">
            <svg class="logo__icon"  width="24" height="24">
                <use href="/src/images/header/switch.svg#film"></use>
            </svg>
            <span class="logo-text">Filmoteka</span>
        </a>
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__btn btn nav__btn--currently" href="index.html">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__btn btn" href="/src/library.html">MY Library</a>
            </li>
        </ul>
      <include src="../src/partials/index/authenticate.html"></include>
    </nav>

    <form class="form" autocomplete="off">
      <div class="form__inner">
        <input 
            class="form__input" 
            type="text" 
            name="searchQuery" 
            placeholder="Movie search" 
            />
        <button class="form__btn btn" type="submit" aria-label="search films">
            <svg class="form__icon"  width="24" height="24">
              <use href="/src/images/header/switch.svg#search"></use>
            </svg>
        </button>
      </div>
    </form>


    <div class="toolbar">
        <!-- Разметка переключателя темы -->
        <div class="theme-switch">
          <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
            <use href="/src/images/header/switch.svg#sun"></use>
          </svg>
      
          <div class="theme-switch__control">
            <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
              aria-label="Переключить между тёмной и светлой темой" />
            <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
            </label>
            <div aria-hidden="true" class="theme-switch__marker"></div>
          </div>
      
          <svg class="theme-switch__icon" aria-label="Иконка луны">
            <use href="/src/images/header/switch.svg#moon"></use>
          </svg>
        </div>
      </div>

</div>
</header>
