.gallery {
  width: 100%;
  min-height: calc(100vh - 230px - 20px - 104px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  // background-color: var(--secondary-color);
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    justify-content: center;
    padding-top: 59px;
    padding-bottom: 61px;
    gap: 32px;
    min-height: calc(100vh - 230px - 20px - 79px);
  }
  @media screen and (min-width: $desktop) {
    gap: 16px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    justify-content: start;
  }
}

.film__card {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // background-color: var(--secondary-color);
  border-radius: 5px;
  width: 320px;
  @media screen and (min-width: $tablet) {
    max-width: 336px;
    gap: 326px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    max-width: 394px;
    width: calc((100% - 16px) / 3);
  }
}
.film__link {
  border-radius: 5px;
  justify-content: space-between;
  transform: scale(1);
  box-shadow: none;
  @include customTransition(transform, box-shadow);

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 495px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 395px;
    min-height: 634px;
    width: calc((100% - 16px) / 3);
  }
}

.film__link:hover {
  background-color: transparent;
  overflow: hidden;
  transform: scale(1.03);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.film__img {
  position: static;
  max-width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  @media screen and (min-width: $desktop) {
    position: relative;
    overflow: hidden;
  }
}

.film__info {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  padding-left: 5px;
  @media screen and (min-width: $telephone) {
    padding-right: 2px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.film__name {
  color: var(--text-main-color);
  text-transform: uppercase;
  text-decoration: none;
}
.film__details {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-top: 10px;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 10px;
    justify-content: flex-start;
  }

  .film__genre {
    color: var(--accent-main-color);
    border-right: 3px solid var(--accent-main-color);
    padding-right: 2px;
  }
  .film__year {
    color: var(--accent-main-color);
    padding-left: 2px;
    @media screen and (min-width: $telephone) {
      border-right: 3px solid var(--accent-main-color);
      padding-right: 2px;
    }

    @media screen and (min-width: $tablet) {
      padding-left: 3px;
      border-right: transparent;
    }
    @media screen and (min-width: $desktop) {
      padding-left: 3px;
      border-right: transparent;
    }
  }

  .film__rating {
    @media screen and (min-width: $telephone) {
      color: var(--accent-main-color);
      font-weight: bolder;
    }
    @media screen and (min-width: $tablet) {
      color: var(--secondary-color);
      margin-left: 50px;
      padding-left: 22px;
      padding-right: 6px;
      font-size: 14px;
      width: 55px;
      height: 20px;
      transform: translate(-50%, -50%);
    }
    @media screen and (min-width: $desktop) {
      color: var(--secondary-color);
      margin-bottom: 10px;
      padding-left: 20px;
      padding-right: 6px;
      padding-top: 8px;
      animation: heartBeat;
      animation-duration: 2000ms;
      width: 55px;
      height: 20px;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }

  .film__rating:before,
  .film__rating:after {
    @media screen and (min-width: $tablet) {
      position: absolute;
      content: ' ';
      z-index: -4;
      width: 30px;
      height: 45px;
      left: 30px;
      background-color: var(--accent-main-color);
      border-radius: 100px 100px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    @media screen and (min-width: $desktop) {
      position: absolute;
      content: ' ';
      z-index: -4;
      width: 30px;
      height: 45px;
      left: 30px;
      background-color: var(--accent-main-color);
      border-radius: 100px 100px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
  }
  .film__rating:after {
    @media screen and (min-width: $tablet) {
      left: 0;
      transform-origin: 100% 100%;
      transform: rotate(45deg);
    }
    @media screen and (min-width: $desktop) {
      left: 0;
      transform-origin: 100% 100%;
      transform: rotate(45deg);
    }
  }
}

.gallery-library {
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    padding-top: 59px;
    padding-bottom: 61px;
  }
  @media screen and (min-width: $desktop) {
    // justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
h2 {
  font-size: 20px;
  color: var(--accent-main-color);
  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
}
