<!-- <div class="backdrop is-hidden" data-about-modal>
  <div class="modal-trailer">
    <div data-modal-login-close class="modal-detail__cross-frame">
      <i class="fa-solid fa-xmark"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <iframe
      class="about__iframe"
      src="https://youtube.com/embed/1ddNR6SZPos?enablejsapi=1"
      title="IceCreamFactory"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div> -->
