<div class="modal-trailer__backdrop is-hidden">
  <div class="modal-trailer">
    <div data-modal-login-close class="modal__cross-frame">
      <i class="fa-solid fa-xmark"></i>
      <!-- <i class="fa-solid fa-arrow-right"></i> -->
      <!-- <i class="fa-brands fa-youtube"></i> -->
<!-- <div class="modal-trailer-backdrop is-hidden" data-detail-trailer>
  <div class="modal-trailer">
    <div data-modal-trailer-close class="modal-trailer__cross-frame">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div id="player"></div>
  </div>
</div>
