<div class="modal-detail__backdrop is-hidden" data-detail-modal>
  <div class="modal-detal__container">
    <!-- <div class="modal-detail__cross-frame">
      <i class="fa-solid fa-xmark"></i>
    <i class="fa-brands fa-youtube"></i>
    </div> -->
    <!-- <div class="movie-poster">
      <img class="movie-image" data-movie="" src=./images/Rectangle18.jpg alt=""
      /> -->

    <!-- <button>youtube</button>
    </div>
    <div class="movie-data">
      <h2 class="data__title">A FISTFUL OF LEAD</h2>
      <ul class="data__list list">
        <li class="list__item">
          <p class="data__item">Vote / Votes</p>
          <p class="data__info">
            <span class="data__span data__span--orange">7.3</span>
            <span class="data__span data__span--divider"> / </span>
            <span class="data__span">1260</span>
          </p>
        </li>
        <li class="list__item">
          <p class="data__item">Popularity</p>
          <p class="data__info">100.2</p>
        </li>
        <li class="list__item">
          <p class="data__item">Original Title</p>
          <p class="data__info data__info--upper">A FISTFUL OF LEAD</p>
        </li>
        <li class="list__item">
          <p class="data__item">Genre</p>
          <p class="data__info">Western</p>
        </li>
      </ul>
      <p class="data__about">About</p>
      <p class="data__about-text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="buttons">
        <button
          type="button"
          class="modal-detail__button button-watched"
          data-click="addToWached"
          data-action="addById"
        >
          Add to watched
        </button>
        <button
          type="button"
          data-action="addById"
          class="modal-detail__button button-queue"
          data-click="addToQueue"
        >
          Add to queue
        </button>
      </div>
    </div> 
    </div> -->
  </div>
</div>
