.modal-trailer__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: var(--backdrop-modal-color);
  overflow-y: scroll;

  @include customTransition(opacity);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal-trailer__backdrop.is-hidden .modal-trailer {
    transform: translate(-50%, -50%) scale(0);
  }
}
.modal-trailer {
  margin: 0;
  display: block;
  width: 300px;
  max-height: 100vh;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  @include customTransition(transform);
  @media screen and (min-width: $tablet) {
    width: 700px;
    height: 450px;
    position: relative;
    top: 48%;
    left: 50%;
  }
  @media screen and (min-width: $desktop) {
    width: 875px;
    height: 550px;
    position: relative;
    top: 46%;
    left: 50%;
  }
}

.modal__iframe {
  border: 15px solid var(--secondary-color);
  border-radius: 4px;
  width: 300px;
  height: 168px;
  @include customTransition(transform);
  @media screen and (min-width: $tablet) {
    width: 700px;
    height: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 875px;
    height: 550px;
  }
}

.modal-trailer__cross-frame {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 14px;
  top: 4px;
  right: 0px;
  width: 14px;
  height: 14px;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 50%;
  color: var(--text-main-color);
  cursor: pointer;
  @include customTransition(color);
  &:hover {
    color: var(--accent-main-color);
  }
}
// .modal-trailer-backdrop {
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   z-index: 101;
//   top: 0;
//   background-color: rgba(0, 0, 0, 0.2);
//   visibility: visible;
//   opacity: 1;
//   transition: opacity 250ms var(--timing-function),
//     visibility 250ms var(--timing-function);
// }
// .modal-trailer-backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
//   visibility: hidden;
// }
// .modal-trailer-backdrop.is-hidden .modal-trailer {
//   transform: translate(-50%, -50%) scale(0);
// }

// .modal-trailer {
//   display: block;
//   width: 300px;
//   max-height: 100vh;
//   position: relative;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms var(--timing-function);
//   @media screen and (min-width: $tablet) {
//     width: 560px;
//     height: 315px;
//     position: relative;
//     top: 50%;
//     left: 50%;
//   }
//   @media screen and (min-width: $desktop) {
//     width: 875px;
//     height: 492px;
//     position: relative;
//     top: 50%;
//     left: 50%;
//   }
// }
// .about__iframe {
//   border: 25px solid var(--secondary-color);
//   border-radius: 4px;
//   width: 300px;
//   height: 168px;
//   transition: border 250ms var(--timing-function);
//   @media screen and (min-width: $tablet) {
//     width: 560px;
//     height: 315px;
//   }
//   @media screen and (min-width: $desktop) {
//     width: 875px;
//     height: 492px;
//   }
// }
// .modal-trailer__cross-frame {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   font-size: 14px;
//   top: 9px;
//   right: 9px;
//   width: 14px;
//   height: 14px;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border: none;
//   border-radius: 50%;
//   color: var(--text-main-color);
//   cursor: pointer;
//   @include customTransition(color);
//   &:hover {
//     color: var(--accent-main-color);
//   }
// }
