.modal-trailer__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: var(--backdrop-modal-color);
}
// .backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
//   visibility: hidden;
// }
// .backdrop.is-hidden .modal-modal {
//   transform: translate(-50%, -50%) scale(0);
// }

// .modal-trailer {
//   width: 300px;
//   height: 168px;
//   position: relative;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms var(--timing-function);
//   @media screen and (min-width: $tablet) {
//     width: 560px;
//     height: 315px;
//     position: relative;
//     top: 50%;
//     left: 50%;
//   }
//   @media screen and (min-width: $desktop) {
//     width: 875px;
//     height: 492px;
//     position: relative;
//     top: 50%;
//     left: 50%;
//   }
// }
// .about__iframe {
//   border: 4px solid var(--secondary-color);
//   border-radius: 4px;
//   width: 300px;
//   height: 168px;
//   transition: border 250ms var(--timing-function);
//   @media screen and (min-width: $tablet) {
//     width: 560px;
//     height: 315px;
//   }
//   @media screen and (min-width: $desktop) {
//     width: 875px;
//     height: 492px;
//   }
// }
// .modal-detail__cross-frame {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   font-size: 14px;
//   top: 9px;
//   right: 9px;
//   width: 14px;
//   height: 14px;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border: none;
//   border-radius: 50%;
//   color: var(--text-main-color);
//   cursor: pointer;
//   @include customTransition(color);
//   &:hover {
//     color: var(--accent-main-color);
//   }
// }
